doctype html
html(lang="sp")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="title" content="🌟 Creaciones Camily 🌟")
        meta(name="description" content="✌ ✌ Conjuntos y camisas guayaberas para toda ocasión para bebes, niños y caballeros. Escríbenos Whatsaap 3182659135 - +76940085 o Visitanos en nuestro punto de fabrica Carrera 23 A # 101 -27 Barrio Provenza.")
        meta(property="og:image" content="	https://eacnur.org/blog/wp-content/uploads/2017/07/mundo-de-los-ni%C3%B1os_opt-800x400.jpg")
        meta(property="og:url" content="https://www.facebook.com/CamilyCreaciones/")
        meta(property="og:video" content="https://youtu.be/rwql_VWoGKM")
        meta(property="og:title" content="🌟 Creaciones Camily 🌟")
        meta(property="og:description" content="(っ＾▿＾)۶🌟٩(˘◡˘ ) Conjuntos y camisas guayaberas para toda ocasión para bebes, niños y caballeros. Escríbenos Whatsaap 3182659135 - +76940085 o Visitanos en nuestro punto de fabrica Carrera 23 A # 101 -27 Barrio Provenza.")
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="img/Pruebas2.png", type="image/png") 
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet")
        title Creaciones Camily 🌟
    body
        -let data=[{titulo:"Creaciones Camily",article:{titulo:"",header:"QUIENES SOMOS",div:"Creaciones Camily es una microempresa colombiana que fabrica ropa infantil, tenemos 15 años de experiencia en el mercado, distribuimos en todas las ciudades del país y siempre entregamos prendas de excelente calidad, a buen precio y con diseños hermosos.",aside:"https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FCamilyCreaciones%2Fvideos%2F1885422355082463%2F&show_text=false&width=373&t=0",p:{src:"img/Imagen3.jpg",title:"Tenemos una colección llena de color para los peques"}},article2:{titulo:"Elige la talla de ropa IDEAL para tus hijos",header:"Lo primero que debes diferenciar y entender, es que las tallas para bebé y para niños, son distintas.  Las tallas entre 0 y 3 años son para bebés y es medida por meses , las tallas infantiles son de 3 a 7 años.",div:"Tallas para Bebe Niña",p:" Con este cuadro de medidas puedes elegir tu talla correcta",footer:{src:"img/TallasBebe.jpg",title:"Tallaje bebe"}}}];
        -let menu = {Principal: [{name:"Noticias",des:""},{name:"Publicaciones", des:"https://www.facebook.com/pg/CamilyCreaciones/posts/?ref=page_internal"},{name:"Fotos",des:" https://www.facebook.com/CamilyCreaciones/photos/?ref=page_internal"},{name:"Videos",des:"https://www.facebook.com/CamilyCreaciones/videos"}], Sub:[{name:"Catálogo Línea Bebé", des: "https://www.flipsnack.com/creacionescamilycatalogo/cat-logo-creaciones-camily-2021.html"},{name:"Catálogo Línea Junior",des: "https://www.flipsnack.com/creacionescamilycatalogo/cat-logo-l-nea-junior-creaciones-camily-2021.html"},{name:"Catálogo Línea Niño",des:""},{name:"Catálogo Ceremonia",des:"https://www.flipsnack.com/creacionescamilycatalogo/cat-logo-ceremonia-y-ni-o-creaciones-camily-2021.html"}]};
        script.
            console.log(!{JSON.stringify(data)});
        
        header             
            mixin Menus({...arg})
                nav 
                    ul 
                        each valor, i in arg
                            li 
                                a(href=""+valor.des target="_blanck")=valor.name
            +Menus(menu.Principal)
            div.Imagenes 
                div.Logo 
                    img(src="img/Header2.png", alt="", srcset="")
                //- div.Flores1
                //-     img(src="img/1.png" )

                //-         img(src="img/2.png" )
                //- div.Flores3
                //-     img(src="img/5.png")
                //- div.Flores4
                //-     img(src="img/6.png" )
           
        section
            mixin Menus2({...arg})
                nav 
                    ul 
                        each valor, i in arg
                            li 
                                a(href=""+valor.des target="_blanck")=valor.name
            +Menus2(menu.Sub)
            aside 
                img(src="img/Pruebas.png", alt="", srcset="")
                //- iframe(src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=u3f688funf" seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen)
        div(class="Caja")
            mixin sesiones({...arg})
                each valor, i in arg
                    section(class="noticias")
                        header= valor.titulo
                        article= valor.article.titulo
                            header= valor.article.header
                            div= valor.article.div
                                p 
                                    img(src=""+valor.article.p.src, title=""+valor.article.p.title)
                            aside
                                //- iframe(src=""+valor.article.aside seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen)
                                iframe(src=""+valor.article.aside width="373" height="591" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true")
                                //- iframe(src=""+valor.article.aside frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

                        article= valor.article2.titulo
                            header= valor.article2.header
                            div= valor.article2.div
                            p= valor.article2.p
                            footer 
                                p
                                    img(src=""+valor.article2.footer.src, title=""+valor.article2.footer.title)
            +sesiones(data)
        div.burbujaWhatsapp
             a(href="https://api.whatsapp.com/send?phone=+573213800360&text=Quiero tener más informacion de los productos&image=https://www.facebook.com/CamilyCreaciones/photos/a.1885363338421698/1885365361754829/", target="_blanck") 
                img(src="img/wp.png")
        div.Dino1
            img(src="img/Dino1.png" width="100")
        div.Dino2
            img(src="img/Dino2.png" width="100")
        div.Dino3
            img(src="img/Dino3.png" width="100")
        div.Dino4
            img(src="img/Dino4.png" width="100")
        div.Pasto1
            img(src="img/Pasto1.png" width="100")
            img(src="img/Pasto2.png" width="100")
            img(src="img/Pasto3.png" width="100")
            img(src="img/Pasto1.png" width="100")
            img(src="img/Pasto2.png" width="100")
            img(src="img/Pasto3.png" width="100")
            img(src="img/Pasto1.png" width="100")
            img(src="img/Pasto2.png" width="100")
            img(src="img/Pasto3.png" width="100")
            img(src="img/Pasto1.png" width="100")
            img(src="img/Pasto2.png" width="100")
            img(src="img/Pasto3.png" width="100")
            img(src="img/Pasto1.png" width="100")
            img(src="img/Pasto4.png" width="50")
        footer
            
            ul 
                li Nombre: 
                li Marly Yurley Torres Silva |
                li Telefono: 
                li #[a(href="tel:+57 3016737252") +57 3016737252] |                 
                li Diplomado Comfenalco: 
                li HTML CON PUG Y CSS CON SASS         